
body{
font-family: Arial, Georgia, sans-serif;
font-size: 15px;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}
.box{
color: #5E2209;
	background-color: #ffffff;
	height: 100px;
	border-bottom: #000000 5px solid;
	border-top: #000000 5px solid;
	border-left: #000000 5px solid;
	text-shadow: 3px 3px #A9AD87;
	opacity: 0.9;
}
.container{
	margin: auto;
	overflow: hidden;
	height: 500px;
	max-width: 800px;
}
/*by default ul has padding and margin */
ul{
margin: 0px;
padding: 0px;
}
#Real h2 {
	border: 1px solid;
width: 42px;
color: #CED3A5;
box-shadow: 2px 3px #000000;
}
header{
background-color: #B24010;
color: white;
padding-top: 15px;
margin: 0;
}
header nav{
	 float: right;
	 margin: auto;
}
header li{
float: left;
list-style: none; /*to remove bullet points*/
padding: 0 20px 0 20px;
line-height: 10px;
margin: 0px;
}
header a{
color: white;
text-decoration: none; /*to remove underline*/
 font-size: 22px;
float: right;
margin: auto;
}
header .current a{
color: #3D020F;
font-weight: bold;
}
header a:hover{
	color: #000000;
	font-size: bold;
}
.Container input[type="text"]{
    padding: 3px;
    height:20px;
    width: 200px;
    border-radius: 4px;
    font-size: 16px;
    border: 0px;
}
#button-1{
height: 25px;
background:#CED3A5;
border: 0px;
border-radius: 5px;
color: brown;
font-weight: bold;
}




/*------------for contact body---------*/
#Form{
	background: url(../images/background.png);
	background-size: 100% 120% ;
}
.row{
	margin-left: 15px;
	margin-right: -15px;
	line-height: 1.42;
	font-size: 20px;
	height: 100%;
	width: 90%;
}
#form_container
{
	padding:15px 15px;
	margin-top:15px;
	background: rgba(0,0,0,0.7);	
	color:#fff;
	height: 100%;
	width: 100%;

}
#message{
	font-size: 20px;
}
.container{
	padding-right: 15px;
	padding-left: 15px;
	margin: auto;
	display: table;
}
.container h2{
	font-size: 30px;
}
textarea.form-control{
	height: auto;
}
.upload-btn-wrapper 
{
  overflow: hidden;
  display: inline-block;
}
.form-group{
	margin-bottom: 15px;
}

@media (min-width: 768px){
.col-sm-6{
	width: 45%;
	float: left;
}
}

.col-sm-6{
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-12{
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}
.pull-right{
	float: right!important;
}
.btn-lg{
	padding: 10px 16px;
	font-size: 18px;
	border-radius: 6px;
	border: 1px solid transparent;
}
label{
	display: inline-block;
	margin-top: 5px;
	font-weight: 700;
}
.form-control{
	display: block;
width: 100%;
padding: 6px 12px;
border: 1px solid #ccc;
border-radius: 5px;
}
.upload-btn-wrapper input[type=file] 
{
  font-size: 100px;
  left: 0;
  top: 0;
  opacity: 0;
}
input::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 5;
}

/*for icons*/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin-right: 50px;
  margin-left: 3px;
  margin-bottom: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #fff;
  color: black;
}
#info{
	color: brown;
	padding: 20px;
}
#cont{
	font-size: 40px;
	color: #25256B;
}
#num{
	margin-left: 115px;
}
#soc{
	font-size: 40px;
	color: blue;
}
footer{
	margin-top: 0px;
padding: 2px;
color: #ffffff;
background-color: #B24010;
text-align: center;
}


/*---------for mobile web browsers----------*/

@media(max-width: 800px){
header .Container,
header .box,
header #Real,
header nav,
header nav li,
{
float: none;
text-align: center;
width: 100%;
}
#Form{
	background: url(../images/background.png);
	background-size: 100% 110% ;
}
nav li{
    padding: 10px 75px 15px 10px;
}
header a{
    font-size: 20px;
}
.Container input[type="text"]{
    padding: 3px;
    height:20px;
    width: 150px;
    border-radius: 3px;
    font-size: 13px;
    border: 0px;
}
input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 5;
}

.button{
    margin-bottom: 15px;
    margin-left: 5px;
}
.para p{
    font-size: 18px;
}
/*for icons*/
.fa {
  padding: 10px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 40px;
  margin-left: 3px;
  margin-bottom: 6px;
}

#info{
	color: brown;
	padding: 15px;
}
#cont{
	font-size: 28px;
	color: #25256B;
}
#num{
	margin-left: 100px;
	font-size: 20px;
}
#soc{
	font-size: 28px;
	color: blue;
}
#lastt{
	font-size: 20px;
}
footer{
	margin-top: 0px;
padding: 2px;
font-size: 10px;
color: #ffffff;
background-color: #B24010;
text-align: center;
}
}